<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="RavenDB" connectionString="memory=true"/>
  </connectionStrings>
  <system.web>
    <membership defaultProvider="BirdBrainMembership">
      <providers>
        <add name="BirdBrainMembership"
             connectionStringName="RavenDB"
             applicationId="MyApp"
             minRequiredPasswordLength="6"
             maxInvalidPasswordAttempts="5"
             minRequiredNonAlphanumericCharacters="0"
             passwordFormat="Hashed"
             passwordStrengthRegularExpression="[\d\w].*"
             requiresQuestionAndAnswer="true"
             type="BirdBrainTest.EmbeddedBirdBrainMembershipProvider, BirdBrainTest"/>
      </providers>
    </membership>
    <roleManager defaultProvider="BirdBrainRole">
      <providers>
        <add name="BirdBrainRole" applicationId="MyApp" type="BirdBrainTest.EmbeddedBirdBrainRoleProvider, BirdBrainTest"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>