<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <membership defaultProvider="BirdBrainMembership">
      <providers>
        <add name="BirdBrainMembership"
             applicationName="MyApp"
             minRequiredPasswordLength="6"
             maxInvalidPasswordAttempts="5"
             minRequiredNonAlphanumericCharacters="0"
             passwordFormat="Hashed"
             passwordStrengthRegularExpression="[\d\w].*"
             requiresQuestionAndAnswer="true"
             type="BirdBrain.BirdBrainMembershipProvider, BirdBrain"/>
      </providers>
    </membership>
    <roleManager defaultProvider="BirdBrainRole">
      <providers>
        <add name="BirdBrainRole" applicationName="MyApp" type="BirdBrain.BirdBrainRoleProvider, BirdBrain"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>